#giveaway {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 17px 18px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform .2s;
    /* Animation */
}

#giveaway:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


#giveaway h1,
#giveaway div,
#giveaway h4 {
    z-index: 100;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 2px 2px 2px #CE5937;
}

#giveaway div {
    min-height: 400px;
}

#giveaway::before {
    content: "";
    position: absolute;
    background-image: url('/static/img/niva3.png');
    background-position: right;
    background-repeat: no-repeat;
    min-height: 400px;
    background-size: cover;
    z-index: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

@media (max-width: 767px) {
    #giveaway::before {
        filter: blur(7px);
        width: 130%;
    }
}