#giveaway {
    position: relative;
}

#giveaway h1,
#giveaway div,
#giveaway h3 {
    z-index: 100;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 2px 2px 2px #CE5937;
}

#giveaway div {
    min-height: 400px;
}

#giveaway::before {
    content: "";
    position: absolute;
    background-image: url('/static/img/niva3.png');
    background-position: right;
    background-repeat: no-repeat;
    min-height: 400px;
    background-size: cover;
    z-index: 0;
    height: 100%;
    width: 100%;
    max-width: 1152px;
    max-height: 768px;
    border-radius: 15px;
}

@media (max-width: 767px) {
    #giveaway::before {
        opacity: 0.8;
        filter: blur(5px);
    }
}