.select2.select2-container.select2-container--default {
    width: fit-content !important;
    height: auto !important;
}

.select2-selection.select2-selection--single {
    height: auto !important;
}