#offer-wrapper {
    margin-top: 8rem;
    margin-bottom: 8rem;
    background-color: #302A2A;
    border-radius: 10px;
}

#offer-wrapper .btn-group .btn {
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 10px !important;
}

#offer-wrapper .btn-group .btn.active {
    background-color: #302A2A !important;
    color: #D9D9D9 !important;
    border: #D9D9D9 solid 2px !important;
}