<footer>
    <div class="container py-4 py-lg-5 mt-5">
        <div class="row justify-content-center" id="footer-row">
            <div
                class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start">
                <div class="fw-bold d-flex align-items-center mb-2">
                    <a class="navbar-brand d-flex align-items-center" href="/">
                        <span
                            class="bs-icon-md bs-icon-rounded d-flex justify-content-center align-items-center me-2 bs-icon">
                            <img src="/static/img/logo1.png" class="td-logo">
                        </span>
                    </a><span class="text-white">Таунхаусы и Дома</span>
                </div>
                <p class="text-white">Строительство домов, продажа готовых домов, земельных участков. Одобрение ипотеки,
                    сопровождение сделок с недвижимостью</p>
            </div>

            <div class="col-sm-4 col-md-4 text-center text-lg-start d-flex flex-column text-white">
                <div class="d-flex flex-column justify-content-center align-items-xl-start align-items-center h-100">
                    <div class="d-flex align-items-center px-3 pb-3">
                        <div class="px-2">
                            <h6 class="mb-0">Телефон</h6>
                            <p class="mb-0 nowrap">
                                <a href="tel:+78432588833" style="color: inherit;">+7 (843) 216-33-75</a>
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center px-3 pb-3">
                        <div class="px-2">
                            <h6 class="mb-0">Email</h6>
                            <p class="mb-0"><a href="mailto:taun.i.dom@gmail.com"
                                    style="color: inherit;">taun.i.dom@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center px-3 pb-3">
                        <div class="px-2">
                            <h6 class="mb-0">Адрес</h6>
                            <p class="mb-0">
                                <a href="https://goo.gl/maps/M2kL4MyF3QBL8WFu9" style="color: inherit;">
                                    420087, Респ. Татарстан, Казань, пр. Альберта Камалеева, 30
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center px-3 pb-3">
                        <div class="px-2">
                            <h6 class="mb-0">Мы в VK</h6>
                            <p class="mb-0">
                                <a href="https://vk.com/taunidom" style="color: inherit;">
                                    vk.com/taunidom
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 text-center text-lg-start d-flex flex-column">
                <h3 class="fs-6"><a class="text-white" href="/#contact-form2">Контакты</a></h3>
                <h3 class="fs-6"><a class="text-white" href="https://kazan.hh.ru/employer/9778973">Вакансии</a></h3>
            </div>
        </div>
        <hr />
        <div class="d-flex flex-column justify-content-center align-items-center pt-3">
            <p class="text-muted mb-0">Copyright © 2023 Таунхаусы и Дома</p>
            <p class="text-muted mb-0">Сделано <a href="https://evd_d.t.me">Кириллом Евдокимовым</a></p>
        </div>
    </div>
</footer>