{% extends "base.html" %}

{% block title %}
Таунхаусы и Дома | Главная
{% endblock %}

{% block content %}
{% load static %}
<link href='{% static "/css/main.css" %}' rel='stylesheet' type='text/css'>
<link href='{% static "/css/giveaway.css" %}' rel='stylesheet' type='text/css'>
<script src='{% static "/js/main.js" %}'></script>
<!-- main-photo -->
<section>
    <div id="main-photo">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 offset-0 offset-lg-0 offset-xl-0 offset-xxl-0 text-center text-md-start d-flex justify-content-center align-items-center"
                    id="main-photo-col-1">
                    <div class="text-center">
                        <h1 class="text-uppercase fw-bold text-center" id="main-photo-col-1-heading">
                            Построим дом <br />вашей мечты</h1>
                        <div class="row" id="main-photo-col-1-row">
                            <div class="col-6 d-flex align-items-center justify-content-end">
                                <i class="fas fa-clock font-size-icon"></i>
                                <p class="text-start d-flex flex-column main-photo-col-1-row-p">
                                    Время стройки<br><span><strong>от 4 месяцев</strong></span>
                                </p>
                            </div>
                            <div class="col-6 d-flex align-items-center align-items-xxl-center">
                                <i class="fas fa-check-circle font-size-icon"></i>
                                <p class="text-start main-photo-col-1-row-p">
                                    Материалы<br><span><strong>выбираем вместе</strong></span>
                                </p>
                            </div>
                        </div>
                        <a class="btn btn-lg me-2 btn-yellow mt-3" role="button" href="#calculator">
                            Рассчитать стоимость ипотеки
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- giveaway -->
<div class="container rounded-5 p-0 my-5" id="giveaway" onclick="window.open('https://vk.com/taunidom')">
    <div class="col-12 col-md-7 d-flex flex-column text-center justify-content-center rounded-5">
        <h1 class="text-white m-3 p-3">Розыгрыш нового автомобиля «НИВА»</h1>
        <h4 class="text-white m-3 p-3"><b>До 28.12.2023</b> при покупке недвижимости
            через нас вы участвуете <b>в розыгрыше</b>
            нового автомобиля <b>«НИВА»</b></h4>
    </div>
</div>

{% if alert %}
<script>
    // $().ready({
    alert('{{ alert }}');
    window.open("/", "_self");
    // });

</script>
{% endif %}

<!-- services -->
<div class="container d-flex flex-column align-items-center py-4 py-xl-5">
    <h1>Предлагаемые сервисы</h1>
    <div class="row gy-4 row-cols-1 row-cols-md-2 w-100 m-0">
        <div class="col-auto col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 order-md-first">
            <div class="card service-card-wrapper">
                <div class="yellow-circle"></div>
                <div class="text-start d-flex flex-row p-3 service-card">
                    <img class="service-card-icon" src='{% static "/img/service1.png" %}' />
                    <p>Бесплатное одобрение ипотеки</p>
                </div>
            </div>
        </div>
        <div class="col-auto col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 order-md-first">
            <div class="card service-card-wrapper">
                <div class="yellow-circle"></div>
                <div class="text-start d-flex flex-row p-3 service-card">
                    <img class="service-card-icon" src='{% static "/img/service2.png" %}' />
                    <p>Работа и общение с банками</p>
                </div>
            </div>
        </div>
        <div class="col-auto col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 order-md-first">
            <div class="card service-card-wrapper">
                <div class="yellow-circle"></div>
                <div class="text-start d-flex flex-row p-3 service-card">
                    <img class="service-card-icon" src='{% static "/img/service3.png" %}' />
                    <p>Видео отчеты по этапам стройки</p>
                </div>
            </div>
        </div>
        <div class="col-auto col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 order-md-first">
            <div class="card service-card-wrapper">
                <div class="yellow-circle"></div>
                <div class="text-start d-flex flex-row p-3 service-card">
                    <img class="service-card-icon" src='{% static "/img/service4.png" %}' />
                    <p>Бесплатный дизайн проект</p>
                </div>
            </div>
        </div>
        <div class="col-auto col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 order-md-first">
            <div class="card service-card-wrapper">
                <div class="yellow-circle"></div>
                <div class="text-start d-flex flex-row p-3 service-card">
                    <img class="service-card-icon" src='{% static "/img/service5.png" %}' />
                    <p>Бесплатный подбор земельного участка</p>
                </div>
            </div>
        </div>
        <div class="col-auto col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 order-md-first">
            <div class="card service-card-wrapper">
                <div class="yellow-circle"></div>
                <div class="text-start d-flex flex-row p-3 service-card">
                    <img class="service-card-icon" src='{% static "/img/service6.png" %}' />
                    <p>Сопровождение в компетентных органах для поставки дом на кадастровый учет</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- offers -->
<a name="offers"></a>
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Примеры работ</h2>
        </div>
    </div>
    <div class="container">

        <div class="owl-carousel" id="offers-slider">
            {% for offer in offers %}
            <div class="item">
                <a href="/offer/{{offer.id}}" class="text-decoration-none">
                    <div class="card house-card">
                        <img class="card-img-top w-100 d-block fit-cover" src="{{ offer.main_photo.file.url }}" />
                        <div class="card-body p-4">
                            <h3 class="card-title">{{ offer.get_price }}</h3>
                            <div class="row">
                                {% if offer.room_count %}
                                <div class="col">
                                    <h4 class="text-start house-properties-title">Комнат</h4>
                                    <p class="house-properties-body text-white">{{ offer.room_count }}</p>
                                </div>
                                {% endif %}
                                {% if offer.floor_count %}
                                <div class="col">
                                    <h4 class="text-start house-properties-title">Этажей</h4>
                                    <p class="house-properties-body text-white">{{ offer.floor_count }}</p>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if offer.get_house_area %}
                                <div class="col">
                                    <h4 class="text-start house-properties-title">Площадь</h4>
                                    <p class="house-properties-body text-white">{{ offer.get_house_area }}</p>
                                </div>
                                {% endif %}
                                {% if offer.address %}
                                <div class="col">
                                    <h4 class="text-start house-properties-title">Адрес</h4>
                                    <p class="house-properties-body text-white">{{ offer.address }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="btn-group my-3 btn-group-pagination" role="toolbar">
                    <button type="button" class="btn btn-yellow btn-lg btn-pagination" id="offer-pagination-left">
                        <i class="bi bi-arrow-left"></i>
                    </button>
                    <button type="button" class="btn btn-yellow btn-lg btn-pagination" id="offer-pagination-right">
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div> -->
    </div>

</div>

<!-- contact-form -->
<a name="contact-form"></a>
<div class="container">
    <section class="py-4 py-xl-5">
        <div class="container" id="contact-form-1">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="card mb-5 rounded-4">
                        <div class="card-body p-sm-5">
                            <h4 class="text-center mb-4">Заполните форму, чтобы получить бесплатную консультацию
                            </h4>
                            <form class="d-flex justify-content-between flex-column flex-xl-row" method="post"
                                action="/contact">
                                {% csrf_token %}
                                <div class="mb-3 container-fluid">
                                    <input id="name2" class="form-control" type="text" name="name"
                                        placeholder="Ваше имя" />
                                </div>
                                <div class="mb-3 mb-3 container-fluid">
                                    <input id="phone2" class="form-control" type="text" name="phone"
                                        placeholder="Ваш номер" required />
                                </div>
                                <div class="mb-3"></div>
                                <div>
                                    <button class="btn btn-primary d-block w-100 btn-yellow" type="submit">Получить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- calculator -->
<a name="calculator"></a>
{% include "calculator.html" %}

<a name="reviews"></a>
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Отзывы</h2>
        </div>
    </div>

    <div class="row gy-4 row-cols-1 row-cols-md-2">
        {% for review in reviews %}
        <div class="col">
            <div>
                <h5 class="bg-light border rounded border-0 border-light p-4 shadow">
                    {{review.text}}
                </h5>
                <div class="d-flex">
                    <div>
                        <h5 class="fw-bold text-yellow mb-0">{{review.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col">
            <div id="newReview">
                <h1 class="d-flex flex-column bg-light border rounded border-0 border-light p-4 shadow justify-content-center align-items-center w-100"
                    onclick='newReview(this)' style='min-height: 100px;'>
                    <i class="bi bi-plus-circle-fill"></i>
                    <span class="fs-3 text-center mt-1">Оставить отзыв</span>
                </h1>
                <div class="d-flex w-100">
                    <div class="w-100 mt-2 d-flex justify-content-center">
                        <h5 class="fw-bold text-yellow mb-0"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-yellow-2 {
        background-color: #FFEE95 !important;
        border: 1px solid #ced4da;
    }
</style>

<script>
    function newReview(div) {
        console.log(div);
        div.nextElementSibling.querySelector('h5').outerHTML = `<input class="form-control rounded h-100 w-75 mx-2" placeholder='Ваше имя'><button class="btn btn-yellow-2 w-25" onclick="saveReview(this)"><i class="bi bi-check"></i></button>`
        div.outerHTML = `<div class="bg-light rounded p-4 shadow d-flex justify-content-center h-75 w-100"><textarea class="form-control rounded h-100 w-100" placeholder='Текст отзыва'></textarea></div>`
    }

    function saveReview(btn) {
        parent = btn.closest('#newReview');
        text = parent.querySelector('textarea').value;
        name = parent.querySelector('input').value;
        if (text.trim() == '') {
            return alert('Отзыв не может быть пустым');
        }
        $.ajax({
            url: '/add_review',
            type: "POST",
            data: {
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                text: text,
                name: name,
            },
            dataType: "json",
            success: function (data) {
                window.location += '#reviews';
                window.location.reload();
            },
            error: function (data) {
                alert("Ошибка! Отзыв не был оставлен");
            }
        });
    }
</script>

<!-- contact-form2 -->
<a name="contact-form2"></a>
<div class="container">
    <section class="py-1">
        <section class="py-1">
            <div class="container" id="contact-form-2">
                <div class="row mb-3">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2>Связь с нами</h2>
                    </div>
                </div>
                <div class="row d-flex align-items-start justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <div class="d-flex flex-column justify-content-center align-items-start h-100">
                            <div class="d-flex align-items-center p-3">
                                <div
                                    class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                                    <i class="bi bi-telephone-fill"></i>
                                </div>
                                <div class="px-2">
                                    <h6 class="mb-0">Телефон</h6>
                                    <p class="mb-0">
                                        <a href="tel:+78432163375" class="" style="color: inherit;">+7 (843)
                                            216-33-75</a>
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3">
                                <div
                                    class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                                    <i class="bi bi-envelope-fill"></i>
                                </div>
                                <div class="px-2">
                                    <h6 class="mb-0">Email</h6>
                                    <p class="mb-0"><a href="mailto:taun.i.dom@gmail.com"
                                            style="color: inherit;">taun.i.dom@gmail.com</a></p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center p-3">
                                <div
                                    class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon">
                                    <i class="bi bi-pin-map-fill"></i>
                                </div>
                                <div class="px-2">
                                    <h6 class="mb-0">Адрес</h6>
                                    <p class="mb-0">
                                        <a href="https://goo.gl/maps/M2kL4MyF3QBL8WFu9" style="color: inherit;">
                                            420087, Респ. Татарстан, Казань, пр. Альберта Камалеева, 30
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 col-xl-4">
                        <div>
                            <form class="p-3 p-xl-4" method="post" action="/contact">{% csrf_token %}
                                <div class="mb-3">
                                    <input id="name-1" class="form-control" type="text" name="name"
                                        placeholder="Ваше имя" />
                                </div>
                                <div class="mb-3">
                                    <input id="phone-1" class="form-control" type="text" name="phone"
                                        placeholder="Ваш номер" required />
                                </div>
                                <div class="mb-3">
                                    <input id="email-1" class="form-control" type="email" name="email"
                                        placeholder="Ваш Email" required />
                                </div>
                                <div class="mb-3">
                                    <textarea id="message-1" class="form-control" name="message" rows="6"
                                        placeholder="Ваше сообщение"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-primary d-block w-100 btn-yellow" type="submit">Отправить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
{% endblock %}