<nav class="navbar navbar-light navbar-expand-lg fixed-top py-3" id="navbar">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span class="bs-icon-md bs-icon-rounded d-flex justify-content-center align-items-center me-2 bs-icon">
                <img src="/static/img/logo1.png" class="td-logo">
            </span>
            <span class="text-light">T&amp;D</span>
        </a>
        <button class="navbar-toggler text-white" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span>
            <i class="bi bi-list"></i>
        </button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav navbar-nav-scroll me-auto">
                <li class="nav-item"><a class="nav-link active link-light" href="/#offers">Примеры работ</a></li>
                <li class="nav-item"><a class="nav-link link-light active" href="/#contact-form2">Контакты</a></li>
                <li class="nav-item"><a class="nav-link link-light active" href="/#calculator">Калькулятор ипотеки</a>
                </li>
            </ul>
            <p class="text-light navbar-text" id="phone-number">
                <a href="tel:+78432588833" style="color: inherit;">+7 (843) 258-88-33</a>
            </p>
            <a href="#contact-form2" class="text-decoration-none">
                <button class="btn btn-primary" type="button" id="order-a-call">Заказать
                    звонок</button>
            </a>
        </div>
    </div>
</nav>